main{
  display: flex;
  flex-direction: column;
}

body{
  margin: 0;
}
header {
  background-color: #06151A;
  padding: 32px;
  display: flex;
  justify-content: center;
}




footer{
  justify-content: center;
}