* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor-header: rgb(18, 18, 18);
    --cor-fundo:rgb(204, 204, 204);
    --cor-branco-letra: rgb(255, 255, 255);
    --cor-preto: rgb(0, 0, 0);
    --cor-cinza: rgb(248,248,248);
    --cor-cinza-letra: rgb(120,120,120);
    --cor-borda: rgb(204, 204, 204);
    --cor-hover-claro: rgb(198, 198, 198);
    --cor-cinza-claro: rgb(220, 220, 220);

}



header{
    background-color: var(--cor-header);
    color: var(--cor-branco-letra);
    height: 115px;
    width: 100%;
    justify-content: center;
}

.header-cima{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.empresa{
    gap: 5px;
    margin-left: 5%;
}
.nome-empresa{
    font-size: 15px;
    color: var(--cor-branco-letra);
    text-decoration: none;
}
.pesquisa {
    margin-right: 5%;
}

.pesquisar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-pesquisa {
    padding: 5px 10px;  
    border-radius: 5px;
    border: 1px solid var(--cor-fundo); 
    outline: none;
    width: 200px;
    font-size: 14px; 
}

.btn-pesquisa {
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    background-color: var(--cor-cinza-letra);
    

    padding: 6px; 


    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pesquisa:hover{
    opacity: 1;
    background-color: var(--cor-hover-claro);
}
.btn-pesquisa:active {
    transform: scale(0.90);
}

.input-pesquisa{
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
}
.header-baixo{
    padding-top: 20px;
    background-color: var(--cor-header);
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.item-menu {
    display: inline-block;
    padding: 10px 20px;
    font-size: medium;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    color: var(--cor-preto);
    background: linear-gradient(rgb(130, 119, 119), rgb(93, 90, 90));
    transition: background 0.5s ease, transform 0.1s ease;
}

.item-menu:hover {
    opacity: 1;
    background: var(--cor-hover-claro); 
    transform: scale(0.95);
}


body {
    justify-content: center;
}

.caixa-menu {
    margin: 40px auto;
    margin-top: 6%;
    padding: 50px;
    padding: auto;
    width: 350px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.btn-menu {
    background-color: var(--cor-cinza);
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1%;
    font-size: 16px;
    border: 1px solid var(--cor-cinza-claro);
}

.btn-menu:hover {
    background-color: var(--cor-hover-claro);
}

.btn-menu:active {
    transform: scale(0.95);
}


.caixa-texto{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.valor-texto{
    padding: 8px;
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer
}
.valor-texto:active{
    transform: scale(0.99);
}

.link-menu{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    gap: 5px;
    text-decoration: none;
    margin-top: 10px;
}
.link-menu:hover{
    text-decoration: underline;
    color: var(--cor-hover-claro);
}

.caixa-footer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding: 2%;
    background-color: var(--cor-cinza);
    font-size: small;
    border-top: 1px solid var(--cor-borda);
}

.cadastro-menu{
    margin: 40px auto;
    margin-top: 6%;
    padding: 50px;
    padding: auto;
    width: 450px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.interativo{
    display: flex;
    gap: 5px;
}

.aviso-ativo{
    background-color: var(--cor-cinza);
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: red;
    font-size: 12px;
    margin-top: 2px;
}