<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>BiblioTec</title>
</head>
<body>
    <div class="container">
        <h1>BiblioTec</h1>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Pesquisar livros...">
            <button onclick="searchBooks()">Pesquisar</button>
        </div>
        <div id="results"></div>
    </div>
</body>
<script src="script.js"></script>
</html>